@import 'index.scss';

.add-component {
    margin: 0;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 100vh;
    background-color: $black;
    div {
        @include flex(column, center, flex-start);
    }
}
