@import 'index.scss';

body {
    background-color: $darkgray;
}

.dashboard-component {
    @include flex(column, center, center);
    margin: 0;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 100vh;
}

.dashboard-post {
    margin: 10px 0;
}
