@import 'index.scss';

.tattoo-pic-wrapper {
    @include flex(row, center, center);
    position: relative;
    padding-top: 80%;
    width: 80%;
    &:before {
        content: '';
        display: block;
        width: 70%;
        height: 10%;
        border-radius: 0 0 10px 10px;
        border: 3px solid black;
        position: absolute;
        top: calc(93%);
    }
    img {
        position: absolute;
        object-fit: cover;
        width: 90%;
        height: 90%;
        margin: 1rem 0;
        bottom: 0;
        right: 0;
        border-radius: 10px;
        border: 3px solid black;
        z-index: 2;
        // center
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.tattoo-pic-green {
    &:before {
        background-color: $green;
    }
}
.tattoo-pic-lilac {
    &:before {
        background-color: $lilac;
    }
}
.tattoo-pic-pink {
    &:before {
        background-color: $pink;
    }
}
.tattoo-pic-yellow {
    &:before {
        background-color: $yellow;
    }
}
